<!--
<h1>
  Welcome to {{ title }}!
</h1>
-->

<!--
<app-transaction-table></app-transaction-table>

  <button type="button" class="btn btn-primary mr-md-3">Показать всех учеников</button>
  <button type="button" class="btn btn-secondary mr-md-3">Добавить ученика</button>
  <button type="button" class="btn btn-secondary mr-md-3">Редактировать ученика</button>
  <button type="button" class="btn btn-secondary mr-md-3">Удалить ученика</button>
-->

<!--<div class="card">
  <div class="card-title bg-info">Приветствуем вас!</div>
  <div class="card-body">/student - попасть к студенту</div>
</div>-->

<router-outlet></router-outlet>
