<div class="h1 text-center mt-5">Информационная система учебного центра</div>

<div class="card border-success rounded mx-auto login-form-div mt-5">
  <div *ngIf="!authService.getUser(); then notLoggedInTitle else loggedInTitle"></div>
  <ng-template #notLoggedInTitle>
    <div class="card-title bg-success text-white p-3 text-center">Добро пожаловать! Пожалуйста, залогиньтесь.</div>
  </ng-template>
  <ng-template #loggedInTitle>
    <div class="card-title bg-success text-white p-3 text-center">Информация по входу в систему</div>
  </ng-template>

  <div class="card-body" *ngIf="!authService.getUser(); then notLoggedIn else loggedIn"></div>
  <ng-template #notLoggedIn>
    <form class="form-horizontal" #signinform="ngForm"
          (ngSubmit)="login(inputLogin.value, inputPassword.value)">
      <div class="form-group">
        <label for="inputLogin" class="ml-3 control-label">Login</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" #inputLogin id="inputLogin" placeholder="Login" name="login">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="ml-3 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" #inputPassword id="inputPassword" placeholder="Password"
                 name="password">
        </div>
      </div>
      <div class="alert alert-danger m-3" role="alert" *ngIf="message">
        {{ message }}
      </div>
      <div class="form-group">
        <div class="row m-3">
          <button type="submit" class="btn btn-success mr-2">Log in</button>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #loggedIn>
    <div class="m-3">
      <p>Вы вошли как <b>{{ authService.getUser() }}</b>.</p>
      <p>Если желаете начать работать как <b>{{ authService.getUser() }}</b>, нажмите на кнопку <i>Войти в систему</i>
      </p>
      <p>Если желаете разлогиниться, нажмите на кнопку <i>Log out</i></p>
      <div>
        <button type="button" class="mt-2 mr-3 btn btn-success" (click)="enterTheProfile()">Войти в систему</button>
        <button type="button" class="mt-2 btn btn-warning" (click)="logout()">Разлогиниться (Log out)</button>
      </div>
    </div>
  </ng-template>
</div>

