.bordered-table{
    border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
    border-top: 1px solid grey; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}

thead, td {
    border-bottom: 1px solid grey;
    padding: 10px;
}

thead{
    font-weight: bolder;
}