<header class="m-3">
  <h1 class="text-center">Личный кабинет студента</h1>
</header>
<div class="card-deck ml-3 mr-3 mb-5"><!--row m-5-->
  <div class="col-md-9 card p-0">
    <div class="card-header bg-primary text-white font-weight-bold">Ваши лекции</div>

    <div class="card-body">
      <table class="table col-12 table-striped">
        <thead class="thead-light">
        <tr>
          <th>id</th>
          <th>Название</th>
          <th>Преподаватель</th>
          <th>Дата занятия</th>
          <th>Стоимость</th>
        </tr>

        </thead>
        <tbody>
        <tr *ngFor="let lesson of lessonsJSON">
          <td>{{lesson?.id}}</td>
          <td>{{lesson?.subject}}</td>
          <td>{{lesson?.teacher.lastName}} {{lesson?.teacher.firstName}}</td>
          <td>{{lesson?.date | date:'fullDate':'ru'}}</td>
          <td>{{lesson?.price | currency: 'RUB'}}</td>
        </tr>
        </tbody>

      </table>
    </div>
    <div class="card-footer">
      <div *ngIf="isSignUpForTheLessonFormActive then active else notActive"></div>
      <ng-template #notActive>
        <button class="btn btn-success" (click)="showSignUpForTheLessonForm()">Записаться на занятие</button>
      </ng-template>
      <ng-template #active>
        <app-stud-sign-up-for-the-lesson [student]="studentJSON"
                                         (updateLessonsInStudentsInterface)="updateLessonsList()">
        </app-stud-sign-up-for-the-lesson>
      </ng-template>

    </div>

  </div>

  <div class="col-md-3 p-0">
    <div class="card">
      <div class="card-header bg-success font-weight-bold text-white">
        Информация о студенте
      </div>

      <div class="card-body">
        <dl class="dl-horizontal">
          <dt>ID:</dt>
          <dd>{{studentJSON?.studentId}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Имя:</dt>
          <dd>{{studentJSON?.firstName}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Фамилия:</dt>
          <dd>{{studentJSON?.lastName}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Дата рождения:</dt>
          <dd>{{studentJSON?.date | date}}</dd>
        </dl>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal"
                (click)="showEditDialog($event)">Редактировать
        </button>
        <button class="btn btn-danger ml-3" (click)="authService.logout()">Выйти</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal" id="editModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Редактирование профиля</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideEditDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="lastNameText">Фамилия</label>
            <input type="text" class="form-control" id="lastNameText" #lastNameText placeholder="Введите фамилию"
                   value="{{studentJSON?.lastName}}">
          </div>
          <div class="form-group">
            <label for="firstNameText">Имя</label>
            <input type="text" class="form-control" id="firstNameText" #firstNameText placeholder="Введите имя"
                   value="{{studentJSON?.firstName}}">
          </div>
          <div class="form-group">
            <label for="birthDate">Дата рождения</label>
            <input type="date" class="form-control" id="birthDate" #birthDate value="{{studentJSON?.date}}">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideEditDialog()">Закрыть</button>
        <button type="button" class="btn btn-primary"
                (click)="editOkButtonPressed(
                  lastNameText.value,
                  firstNameText.value,
                  birthDate.valueAsDate
                )">Сохранить
        </button>
      </div>
    </div>
  </div>
</div>
