<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <p th:text="'Hello,' + ${name} +'!'" />
    <!--<div th:each="pers : ${persList}">
        <div th:text="${pers.getPersId()}"></div>
        <div th:text="${pers.getFirstname()}"></div>
        <div th:text="${pers.getLastname()}"></div>
        <div th:text="${pers.getHireDate()}"></div>
        <div th:text="${pers.getSalary()}"></div>
        <hr>
    </div>-->

    <table>
        <thead>
            <td>ID</td>
            <td>SourceOfIncome</td>
            <td>Activity</td>
            <td>Payment</td>
            <td>DateOfIncome</td>

        </thead>
        <tr th:each="transact : ${transactList}">
            <td th:text="${transact.getId()}"></td>
            <td th:text="${transact.getSourceOfIncomeName()}"></td>
            <td th:text="${transact.getActivityName()}"></td>
            <td th:text="${transact.getPayment()}"></td>
            <td th:text="${transact.getDateOfIncome()}"></td>

        </tr>
    </table>
</body>
</html>