<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" href="css/list-style.css">
</head>
<body>
    <table class="bordered-table">
        <caption>List of all students:</caption>
        <thead>
        <td>Student's ID</td>
        <td>First name</td>
        <td>Last name</td>
        <td>Birth date</td>
        </thead>
        <tr th:each="student : ${students}">
            <td th:text="${student.getStuedntId()}"></td>
            <td th:text="${student.getFirstName()}"></td>
            <td th:text="${student.getLastName()}"></td>
            <td th:text="${student.getDate()}"></td>
        </tr>
    </table>
</body>
</html>